<script src="../../../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../../../node_modules/jquery/dist/jquery.min.js"></script>

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark" *ngIf="usuarioLogado$ | async">
  <a class="navbar-brand" [routerLink]="['/home']">
    Workshop <img class="img-angular" src="../../../favicon.ico" alt="Angular"> Angular
  </a>
  <button class="navbar-toggler" (click)="toggleMenu = !toggleMenu" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent"
    [ngStyle]="{'display': toggleMenu ?'block' : 'none'}">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngFor="let menu of items">
        <a class="nav-link" [routerLink]="menu.routerLink">
          <i [class]="menu.icon"></i>
          {{menu.label}}
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav dropdown">
      <li class="nav-item active" *ngFor="let menu of userItems">
        <a class="nav-link" (click)="logout()">
          <i [class]="menu.icon"></i>
          {{menu.label}}
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </div>
</nav>