.login {
    margin: 5% auto;
    padding: 20px;
    max-width: 500px;
    text-align: center;
    border: 0.5px solid #afafaf;
    box-shadow: 10px 10px #d3d3d3;
}
.login .btn-login button {
    width: 25%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}