<div class="login elevation-box-1200">
  <div class="ui-g ui-fluid">
    <div id="logo" class="ui-g-12">
        <!-- <img class="img-angular" src="../../../assets/images/angular-logo.png" alt="Angular"> -->
        <img class="img-angular" src="../../../favicon.ico" alt="Angular">
    </div>
    <form id="formLogin" autocomplete="off" #formLogin="ngForm">
        <div class="ui-g-12">
            <h1>Faça seu Login:</h1>
        </div>
        <div class="ui-g-12">          
          <span class="ui-float-label">
            <input id="usuario" type="text" pInputText  name="usuario" [(ngModel)]="usuario.nome"> 
            <label for="usuario">Usuario</label>
          </span>
        </div>
        <div class="ui-g-12">
          <span class="ui-float-label">
            <input id="senha" pInputText type="password" name="senha" [(ngModel)]="usuario.senha">
            <label for="senha">Senha</label>
          </span>
        </div>
        <div class="btn-login ui-g-12">
          <button id="btnLogin" pButton type="submit" label="Entrar" (click)="login()"></button>
        </div>
    </form>
  </div>
</div>
